@model ERPApplication.Models.Supplier
@{
    ViewBag.Title = "Supplier Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Supplier details for @Model.CompanyName</h2>
<div>
    <ul>
        <li>
            Contact Name: @Model.ContactName
        </li>
        <li>
            Contact Title: @Model.ContactTitle
        </li>
        <li>
            City: @Model.City
        </li>
        <li>
            Country: @Model.Country
        </li>
        <li>
            Phone: @Model.Phone
        </li>
        <li>
            Fax: @Model.Fax
        </li>
    </ul>
</div>

